# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Windows Tests Project
proj/*.sdf
proj/*.suo
proj/*.opensdf
proj/x64/*
proj/Debug/*
